    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron top-banner">
      <div class="container">
        <h1 class="display-3">After School Program</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <hr>
    <div class="container">
        <div id="content">  
          <ul id="nobel_tool_bar" class="tablet">      
            <li class="email-tool clickable"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></li>
            <li class="print-tool clickable"><i class="fa fa-fw fa-print" aria-hidden="true"></i></li>
            <li class="fontS-tool clickable"><i class="fa fa-fw fa-font" aria-hidden="true"></i></li>
            <li class="fontL-tool clickable"><i class="fa fa-fw fa-font" aria-hidden="true"></i></li>  
        </ul>

    <div id="post-50" class="">            
      <div id="page_title">    
        <h1 class="entry-title">Before &amp; After School</h1>
      </div>
      <div class="entry-content">  
        <p>The objective of our after school program is to provide a safe, educational, and fun environment to Honor Roll students needing after school care.&nbsp;There are three major components to our&nbsp;after school care program:</p>
              <p style="padding-left: 30px"><strong>Academics:</strong>&nbsp;Our goal is to ensure that students complete all assigned homework, while giving special attention to areas&nbsp;of difficulty.</p>
              <p style="padding-left: 30px"><strong>Recreation:&nbsp;</strong>The recreational part of our extended care program allows children to release excess energy while teaching them good sportsmanship. Children play a variety of games that develop both physical and mental skills.</p>
              <p style="padding-left: 30px"><strong>Culture:</strong> This is an opportunity for children to learn skills that may not be incorporated in their everyday school curriculum. Within age appropriate groups, students do crafts, cooking&nbsp;and life skills exercises in such topics as conflict resolution and money management.</p>
              <p>For updates on Extended Care please see the Extended Care bulletin board located next to the ECP front desk.</p>
              <h3>Teacher Check-in</h3>
              <p>Teachers&nbsp;accompany the children to extended care from their classroom and also deliver a roster that states which children attended that day, whether or not the student has any homework and any special notes.</p>
              <h3>Parent Check Out</h3>
              <ul>
              <li>Parents, or an authorized pick up person, must sign out students daily. You&nbsp;may be asked for identification at any time when picking up a student.</li>
              <li>When a person not on a student’s authorized pick up form is to pick up a child, the parent must notify us in advance and the designated person must bring a valid form of identification.</li>
              </ul>
              <h3>Holiday Care</h3>
              <p>The Honor Roll School provides holiday care for specific days when school is not in session. For a complete list of days that Holiday Care is offered please see our <a href="http://www.thehonorrollschool.com/parents/monthly-calendar/" target="_blank" rel="noopener">campus calendar</a>. As each holiday/early dismissal day approaches deadline information will be sent home as advance notice is required.&nbsp;&nbsp;For more information about our Extended Care Program, please contact&nbsp;<a title="Cinnamon Baldwin" href="mailto:cinammon.baldwin@nlcinc.com" target="_blank" rel="noopener">Cinnamon Baldwin</a>.</p>
              <h3>After-School Vendor Programs</h3>
              <p>A variety of after-school programs are offered through different vendors at THRS throughout the school year. Please contact <a title="Cinnamon Baldwin" href="mailto:cinnamon.baldwin@nlcinc.com" target="_blank" rel="noopener">Cinnamon Baldwin</a> for more information.</p>
              <p>*Vendor programs are not included in the Extended Care fee. Payment for vendor programs are due directly to the vendors.</p>
              <p>+Unique Fitness 4 Kids: Specially designed yoga and aerobic dance classes for PK-4th grade. For more information and to register, <a href="https://www.thehonorrollschool.com/wp-content/uploads/sites/22/2018/01/THRS-Sweetwater-2018-January-Flyer.pdf" target="_blank" rel="noopener">Click here.</a></p>
              <p>+RoboCamp:&nbsp;RoboCamp is an after school and summer program designed for children in grades K-4th grade. Children learn to design, build and program their own robots by participating in hands-on activities. Our project-based curriculum develops logic, creativity, team work, and problem solving skills. For more information and to register, visit <a title="www.RoboCamp.tech" href="http://www.RoboCamp.tech" target="_blank" rel="noopener">www.RoboCamp.tech</a>.</p>
              <p>+Arts &amp; Crafts with Cecilia and Guillermo: Ages 4 and up. For more information and to register,&nbsp;<a href="https://www.thehonorrollschool.com/wp-content/uploads/sites/22/2018/01/January-to-May-2018.pdf" target="_blank" rel="noopener">click here.</a></p>
              <p>+Fit and Kick Taekwon-Do: Grades PK-8. For more information and to register, visit <a href="http://www.fitandkick.com">www.fitandkick.com</a>.</p>
              <p>+Future Allstars: Grades PK-2nd. For more information and to register, <a href="http://www.thehonorrollschool.com/wp-content/uploads/sites/22/2014/10/future.pdf" target="_blank" rel="noopener">click here</a>.</p>
              <p>+HOT Chess: Ages 5-14. For more information and to register, <a href="http://www.thehonorrollschool.com/wp-content/uploads/sites/22/2014/10/HOT-Chess-The-Honor-Roll-School-2017-Fall-Session-Information-Flyer.pdf" target="_blank" rel="noopener">click here</a>.</p>
              <p>+KT Dancing. For more information <a href="http://www.thehonorrollschool.com/wp-content/uploads/sites/22/2014/10/KT.pdf" target="_blank" rel="noopener">Click here</a>.</p>
              <h3>Spring Break</h3>
              <p>Still looking for something for kids to do over Spring Break?</p>
              <p>THRS has you covered! We have an AMAZING WEEK planned for our Spring Break Holiday Care!<br>
              Our Spring Break Holiday Care is designed to give a glimpse of what the 2018 Dolphin Summer Camp has in store! Each day, we have exciting activities and events planned for your child!</p>
              <p>Spring Break Care is open to all THRS Students and students that attended 2017 Summer Camp. You must register online – even if your child attends the THRS Extended Day Program.</p>
              <p>Cost: $55.00 per day – snacks are included. If you pay annually for THRS Extended Day, Holiday Care is FREE!</p>
              <p>Lunch – Students choose to either pack a sack lunch or order online from The Healthy Lunchbox.</p>
              <p>SPACE IS LIMITED AND LINKS will close on SUNDAY, MARCH 11TH AT 3:00 PM.</p>
              <p>Click here to learn more or Register for Kindergarten – 4th Grade Spring Break Care:<br>
              <a id="LPlnk665354" href="https://www.smore.com/8vgcu" target="link">www.smore.com/8vgcu</a></p>
              <p>Click here to learn more about EXTREME MIDDLE SCHOOL (5th – 8th grade) Spring Break Care:<br>
              <a href="https://www.smore.com/y7bce" target="link">www.smore.com/y7bce</a></p>
              <p>If you have any questions, please email me at <a href="mailto:cinnamon.baldwin@nlcinc.com">cinnamon.baldwin@nlcinc.com</a></p>
  
            </div><!-- .entry-content -->
  
          </div><!-- #post -->
          
        </div><!-- #content -->
            </div>
    <hr>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      
    </div> <!-- /container -->
    <style>
        .top-banner{
          background-image: url("assets/images/programs/afterschool/banner.jpg");
          background-color: #cccccc; /* Used if the image is unavailable */
          height: 300px; /* You must set a specified height */
          background-position: center; /* Center the image */
          background-repeat: no-repeat; /* Do not repeat the image */
          background-size: cover; /* Resize the background image to cover the entire container */
        }
    </style>
  
    