    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron top-banner">
      <div class="container">
        <h1 class="display-3">Camps</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
<hr>
<div class="container">
    <div id="content">
    <ul id="nobel_tool_bar" class="tablet">
      <li class="email-tool clickable"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></li>
      <li class="print-tool clickable"><i class="fa fa-fw fa-print" aria-hidden="true"></i></li>
      <li class="fontS-tool clickable"><i class="fa fa-fw fa-font" aria-hidden="true"></i></li>
      <li class="fontL-tool clickable"><i class="fa fa-fw fa-font" aria-hidden="true"></i></li>
    </ul>
        <div id="post-45" class="">        
        <div id="page_title">
          <h1 class="entry-title">Camp &amp; After School</h1>
        </div>        
        <div class="entry-content">
          <h3>Summer &amp; Break Camps</h3>
          <p>Our school supports your family’s needs during the summer and holiday breaks by providing a great balance of exploring, discovering, making friends and learning new skills.</p>
          <p><a title="Our camps" href="summer-camp/">Our camps</a> provide the opportunity for lifelong friendships and valuable, unforgettable experiences. Campers build new skills through sports and games, field trips, arts and crafts, science and nature, and other activities. Optional specialty programs are available as well.</p>
          <h3>Before &amp; After School Programs</h3>
          <p>We offer extended&nbsp;hours year-round to make it easy for parents to drop off and pick up their children. We also provide fun and enriching <a title="after-school programs" href="after-school/">after-school programs</a>. These programs may include sports, technology, dance, karate, art, and instrumental music. We understand that your schedule can change from day to day, but you can always count on us to be here.</p>
        </div><!-- .entry-content -->
      </div><!-- #post -->
    </div><!-- #content -->
        </div>
    
      <hr>
      <div class="container">
          <!-- Example row of columns -->
          <div class="row">
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
           </div>
            <div class="col-md-4">
              <h2>Heading</h2>
              <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
              <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
          </div>    
    </div> <!-- /container -->
    <style>
        .top-banner{
          background-image: url("assets/images/programs/camps/banner.jpg");
          background-color: #cccccc; /* Used if the image is unavailable */
          height: 300px; /* You must set a specified height */
          background-position: center; /* Center the image */
          background-repeat: no-repeat; /* Do not repeat the image */
          background-size: cover; /* Resize the background image to cover the entire container */
        }
    </style>
  
    