<div class="jumbotron top-banner">
    <div class="container">
        <h1 class="display-3">Piaget - Parenting and Teaching</h1>
        <p>integrity, ambutions, gratutity, and excellence.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
</div>
    <div class="container">  
        <div id="about-us">
            <div id="page_title">
              <h1 class="entry-title">About Us</h1>
            </div>
            <div class="entry-content">
  
              <p>Dear Parents:</p>
              <p>Welcome to PiageT Academy. We are a private, nonsectarian, coeducational day school in Norcross that provides an enriched and highly challenging education for all of our students. We are constantly invested in professional development and curriculum to ensure that THRS meets the highest standards for early childhood through eighth grade education. Our school serves over 600 students who reside in the local community and originate from dozens of countries around the world.</p>
              <p>Our curriculum emphasizes the knowledge and skills that students need to be successful in the 21st century: mastery of core content, strong study habits, effective communication, personal organization and full understanding of technology and its benefits. We build the skills of self-confidence and achievement to enable our graduates to enroll and succeed in the high school of their choice.</p>
              <p>We are tremendously proud of our reputation for providing high quality education. There are many reasons for our ongoing success, including the high caliber of our students and faculty and the support of our parents. We are all deeply committed to instilling a passion for excellence in our students, and our graduates exemplify our success.</p>
              <p>In addition to academic excellence, we emphasize the values of honor, respect and responsibility. We expect students to be understanding of individual differences, to treat peers, teachers and others with respect, and to pursue the ideals of personal integrity, initiative and diligence. The acceptance of these values among our students has allowed us to create a safe, caring and trusting environment in which they are able to grow and learn.</p>
              <p>Our teachers are passionate, supportive and dedicated individuals who use their creativity and sensitivity to bring our well-rounded curriculum to life. They personalize lessons to ensure that instruction is stimulating and challenging for each student. Our instructors were chosen not only for their expertise in teaching, but also for their ability to model the values we have espoused.</p>
              <p>Please feel free to schedule a private tour so that you and your child can experience THRS. I look forward to meeting with you, gaining an understanding of your child’s educational needs, and discussing how we can work together to meet them. In the meantime, visit us on <a href="https://www.facebook.com/HonorRollSchool" target="_blank">Facebook&nbsp;</a>to see some of the exciting activities going on at our school.</p>
              <p>Kind regards,</p>
              <p>Tiffany Lin<br>
              Head of School, Piaget Academy<br>
              <a href="mailto:info.pget@gmail.com" target="_blank">mailto:info.pget@gmail.com</a></p>                
              <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div><!-- .entry-content -->  
          </div><!-- #post -->
        
            <!-- </div> -->
            <!-- #container -->
        <!-- <div id="sidebar-nav" class="sidebar-nav elementary">
        </div> -->
        <div class="entry-content">
            <div class="row">
              <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
              <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
              <div class="col-md-4">
                <h2>Heading</h2>
                <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div>
            </div>
            <hr>  
        </div>
      </div> 
      <!-- <div class="container-fluid">       -->
      <!-- /container -->
      <style>
        .top-banner{
          background-image: url("assets/images/aboutus/banner.jpg");
          background-color: #cccccc; /* Used if the image is unavailable */
          height: 300px; /* You must set a specified height */
          background-position: center; /* Center the image */
          background-repeat: no-repeat; /* Do not repeat the image */
          background-size: cover; /* Resize the background image to cover the entire container */
        }
      </style>
  