    <div class="jumbotron top-banner">
        <!-- <div id="content">    
            <ul id="nobel_tool_bar" class="tablet">                    
              <li class="email-tool clickable"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></li>
              <li class="print-tool clickable"><i class="fa fa-fw fa-print" aria-hidden="true"></i></li>                
              <li class="fontS-tool clickable"><i class="fa fa-fw fa-font" aria-hidden="true"></i></li>
              <li class="fontL-tool clickable"><i class="fa fa-fw fa-font" aria-hidden="true"></i></li>                
            </ul>                          
        </div>#content -->
      <!-- <div class="container">
          <h1 class="display-3">This is my mission</h1>
          <p>.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div> -->
    </div>
      <div class="container">
              <div id="page_title">
                <h1 class="entry-title">Mission &amp; Philosophy</h1>
              </div>
                        
              <div class="entry-content">    
                <p><strong>Mission:</strong><br>
                  PiageT Academy will cultivate a love of learning through a challenging educational program in a caring and nurturing environment.</p>
                  <p><strong>Vision:</strong><br>
                  PiageT Academy&nbsp;strives to create well-rounded, life-long learners, who will be equipped with the social, emotional and academic skills necessary to succeed in all future endeavors.</p>
                  <p><strong>Philosophy:<br>
                  </strong>We at PiageT Academy&nbsp;believe that learning and achievement go hand in hand, whether inside or outside the classroom, we have built programs that meet the highest academic and extracurricular standards. By providing an environment that challenges and nurtures each child’s development, our students are able to discover their strengths and respect each other’s differences through global and international awareness. They learn to work together, making the most of everyone’s talents.</p>
                  <p>The international makeup of our student body lends itself to unique learning opportunities. Our style of teaching builds on proven traditional methods by also incorporating newer developments in child psychology, technology, and science. Central to this is the promotion of academic excellence, responsible citizenship and international understanding, whereby students become critical, compassionate thinkers, and active, informed,&nbsp;life-long learners.</p>
                  <p>Our pursuit of excellence as a school depends on each student’s desire to pursue his or her talents in academics, athletics, the arts (fine and performing), leadership and service/citizenship. Likewise, we must do our part as a school community to provide the most opportunities possible for each child’s growth. As educators, we believe that this is best accomplished when an administration with vision, a committed faculty, supportive parents, and focused students work together.</p>
              </div><!-- .entry-content -->
              
              <hr>
          </div>


      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
         </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
  
        <hr>
        <p><em>PiageT Academy does not discriminate in employment or the provision of educational services on the basis of race, color, religion, age, gender, national origin, disability, citizenship status, veteran status or any other characteristic protected by federal, state or local law.&nbsp;<a href="https://www.thehonorrollschool.com/wp-content/uploads/2018/08/NLCI_Disability_Non-Discrimination_Policy_3.4.2014.pdf" target="_blank" rel="noopener">View our student disability policy</a></em>.</p>    
      </div> <!-- /container -->

<style>
    .top-banner{
      background-image: url("assets/images/about-us/mission/banner.jpg");
        background-color: #cccccc; /* Used if the image is unavailable */
        height: 300px; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/about-us/faqs/banner.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/about-us/faqs/banner.jpg', sizingMethod='scale')";
      }
</style>
    