<div id="header"  class="is-centered is-fullwidth" 
    #stickyMenu
    [class.sticky] = "sticky">
    <div class="wrapper clear-fix">	
      <div class="navbar-nav">     
        <ul id="main_menu" class="menu">
          <li><a class="nav-item nav-link" routerLink="/about-us"><button mat-button [matMenuTriggerFor]="aboutMenu" 
              (mouseover)="openMenu(aboutMenuTrigger)" #aboutMenuTrigger="matMenuTrigger" >Why PiageT</button></a>
              <mat-menu #aboutMenu="matMenu" overlapTrigger="false" yPosition = "below">
                  <div (mouseleave)="closeMenu()">
                      <button mat-menu-item><a routerLink="./about-us/mission/">Mission &amp; Philosophy</a></button>
                      <button mat-menu-item><a routerLink="./about-us/faqs/">FAQs</a></button>            
                  </div>
              </mat-menu>
          </li>
        
          <li><a class="nav-item nav-link" routerLink="/academics"><button mat-button [matMenuTriggerFor]="academicsMenu"
                (mouseover)="openMenu(academicsMenuTrigger)" #academicsMenuTrigger="matMenuTrigger">Curriculum</button></a>
                <mat-menu #academicsMenu="matMenu" overlapTrigger="false" yPosition = "below">
                  <div (mouseleave)="closeMenu()">
                    <table><thead>
                        <th><div class="img" style="background-image:url('assets/images/academics/infants/menu.jpg');"></div></th>
                        <th><div class="img" style="background-image:url('assets/images/academics/toddlers/menu.jpg');"></div></th>
                        <th><div class="img" style="background-image:url('assets/images/academics/prek/menu.jpg');"></div></th>
                    </thead><tbody><tr>
                      <td>
                          <button mat-menu-item><a routerLink="/academics/infant/">Infant</a></button>
                      </td><td>
                          <button mat-menu-item><a routerLink="/academics/toddle/">Toddler</a></button>
                      </td><td>
                          <button mat-menu-item><a routerLink="/academics/preK/">Pre-K</a></button>
                      </td>
                    </tr></tbody></table>
                  </div>
              </mat-menu>
          </li>

          <li><a class="nav-item nav-link" routerLink="./camps/"><button mat-button [matMenuTriggerFor]="campusMenu"
            (mouseover)="openMenu(campusMenuTrigger)" #campusMenuTrigger="matMenuTrigger">Programs</button></a>
            <mat-menu #campusMenu="matMenu" overlapTrigger="false" yPosition = "below">
              <div (mouseleave)="closeMenu()">
                  <table><thead>
                        <th><div class="img" style="background-image:url('assets/images/programs/afterschool/menu.jpg');"></div></th>
                        <th><div class="img" style="background-image:url('assets/images/programs/athletics/menu.jpg');"></div></th>
                        <th><div class="img" style="background-image:url('assets/images/programs/arts/menu.jpg');"></div></th>
                        <th><div class="img" style="background-image:url('assets/images/programs/musics/menu.jpg');"></div></th>
                        <th><div class="img" style="background-image:url('assets/images/programs/outdoors/menu.jpg');"></div></th>
                        <th><div class="img" style="background-image:url('assets/images/programs/technology/menu.jpg');"></div></th>
                    </thead>
                    <tbody><tr><td>
                        <button mat-menu-item><a routerLink="/camps/afterschool/">Before &amp; After School</a></button>
                        <button mat-menu-item><a routerLink="/camps/summercamp/">Camps</a></button>
                      </td><td>
                          <button mat-menu-item><a routerLink="/programs/athletics">Athletics</a></button>
                      </td><td>
                          <button mat-menu-item><a routerLink="/programs/arts/">Fine Arts</a></button>                      
                      </td><td>
                          <button mat-menu-item><a routerLink="/programs/musics">Music</a></button>
                      </td><td>
                          <button mat-menu-item><a routerLink="/programs/explore/">Outdoors</a></button>
                      </td><td>
                          <button mat-menu-item><a routerLink="/programs/technology/">Technology</a></button>          
                      </td>
                </tr>
                </tbody></table>                    
              </div>
            </mat-menu>
          </li>

          <li><a class="nav-item nav-link" routerLink="./parents/"><button mat-button [matMenuTriggerFor]="parentMenu"
            #parentMenuTrigger="matMenuTrigger" (mouseover)="openMenu(parentMenuTrigger)">For Parents</button></a>
                <mat-menu #parentMenu="matMenu" overlapTrigger="false" (menuOpened)="isOpened($event)" panelClass="custom" yPosition = "below">
                  <div (mouseleave)="this.closeMenu()"> 
                      <table><thead>
                          <th><div class="img" style="background-image:url('assets/images/parents/info/menu.jpg');"></div></th>
                          <th><div class="img" style="background-image:url('assets/images/parents/resources/menu.jpg');"></div></th>
                          <th><div class="img" style="background-image:url('assets/images/parents/gallery/menu.jpg');"></div></th>
                          <th><div class="img" style="background-image:url('assets/images/parents/pto/menu.jpg');"></div></th>
                          <th><div class="img" style="background-image:url('assets/images/parents/faculty/menu.jpg');"></div></th>
                        </thead>
                        <tbody><tr><td>
                            <button mat-menu-item><a routerLink="./parents/info/">Parent Information</a></button>
                            <button mat-menu-item><a routerLink="./parents/menu/">Menu</a></button>
                            <button mat-menu-item><a routerLink="./parents/calendar/">Calendar</a></button>
                          </td><td>
                            <button mat-menu-item><a routerLink="./parents/resource/">Resource</a></button>
                            <button mat-menu-item><a routerLink="./parents/forms/">Forms</a></button>
                            <button mat-menu-item><a routerLink="./parents/handbook/">Handbook</a></button>
                          </td><td>
                            <button mat-menu-item><a routerLink="./parents/gallery/">Media Gallery</a></button>
                            <button mat-menu-item><a routerLink="./parents/news/">News</a></button>
                          </td><td>
                            <button mat-menu-item><a routerLink="./parents/pto/">PTO</a></button>
                          </td><td>
                            <button mat-menu-item><a routerLink="./parents/faculty/">Our Faculty</a></button>
                        </td></tr>
                    </tbody></table>    
                  </div>
                </mat-menu>
            </li>
            <li (mouseover)='closeMenu();'><a [routerLink]="['./tuition']"><button mat-button>Tuition</button></a></li>    
        </ul>
      </div>  
  </div><!-- .wrapper -->
  <p style="border-bottom-color: blue;border-bottom-style: solid;margin-top: -7px" ></p>
  
</div>