
/**	Navigation
============================ */
#menu_toggle {
	display: block;
  padding: 1.5em 0.8em;
  width: 7em;
}
#menu_toggle ul li {
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: 500;
	margin: 0 0 3px;
}
#menu_toggle ul li span {
	display: block;
	height: 3px;
	border-radius: 2px;
	/* background: #FFFFFF; */
}
ul.nobel-nav-link {
	display: none;
}
#main_nav {
	float: right;
	padding: 0 0 0 0;
}
#main_nav ul.menu {
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	/* display: none; */
}
#main_nav a {
	color: #000000;
}
#main_nav ul.menu li {
	display: block;
}
#main_nav ul.menu li a {
	display: block;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 500;
	padding: 0.5em 1em;
	border-bottom: 1px solid rgba( 0,0,0, 0.1 );
}
#main_nav ul.menu li ul.children,
#main_nav ul.menu li ul.sub-menu {
	background: rgba( 0,0,0, 0.2 );
}
#main_nav ul.menu li ul.children li ul.children,
#main_nav ul.menu li ul.sub-menu li ul.sub-menu {
	background: transparent;
}
#main_nav ul.menu li ul.children li a,
#main_nav ul.menu li ul.sub-menu li a {
	white-space: nowrap;
	font-size: 1.1em;
	font-weight: 400;
	padding: 0.5em 1.5em;
}
#main_nav ul.menu li ul.children li ul.children li a,
#main_nav ul.menu li ul.sub-menu li ul.sub-menu li a {
	padding: 0.5em 2.5em;
}

/* AppComponent's private CSS styles */
h1 {
    font-size: 1.2em;
    /* color: #999; */
    margin-bottom: 0;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    /* padding: 5px 10px; */
    text-decoration: none;
    /* margin-top: 10px; */
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: rgb(245, 234, 90);
  }
  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  nav a.active {
    /* color: #e56903; */
  }
  a.nav-right {
    float: right;
    text-align: right;
    color: #039be5;
  }
  
  div.navbar-nav{
    padding-top: 3pt;
    float: left;
  }
  
  /* menu 00  */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
  }
  
  li {
  float: left;
  }
  
  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
  /* background-color: #111; */
  }

  button.mat-menu-item {
    width: 100%;
    height: 2.5em;
    padding: 0 5 0 5;
 }
    /* div.mat-menu-content{
        background-color:darkorange !important;
    } */

    .sticky{
      position: fixed!important;
      top: 0!important;
      overflow: hidden;
      z-index: 10;
      width: 100%;
      background-color: #FFFFFF;
    }
    
    .content{
      height: 200vh;
    }

  table{
      /* border: 1px solid black; */
      table-layout: auto;
      width: 100%;
  }
  
  th, td {
      /* border-left: 1px solid black; */
      /* border-right: 1px solid black; */
      min-width: 80px;
      vertical-align: top;
  }
  th {
    font: 800;
    background-color: aliceblue;
    text-align: center;    
  }

 th div.img {
    position: relative;
    float: left;
    width:  150px;
    height: 150px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}