    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron top-banner">
      <div class="container">
        <h1 class="display-3">Fine Arts</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
        <div id="content">  
    <ul id="nobel_tool_bar" class="tablet">
      <li class="email-tool clickable"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></li>
      <li class="print-tool clickable"><i class="fa fa-fw fa-print" aria-hidden="true"></i></li>
      <li class="fontS-tool clickable"><i class="fa fa-fw fa-font" aria-hidden="true"></i></li>
      <li class="fontL-tool clickable"><i class="fa fa-fw fa-font" aria-hidden="true"></i></li>
    </ul>
  
            <div id="post-25">
            
            <div id="page_title">
              
  
            <h1 class="entry-title">Fine Arts</h1>
            </div>
            
                      
            <div class="entry-content">
  
              <p>Children need an outlet for creativity and self-expression, as well as an opportunity to extend their academic learning. Our visual arts programs are focused on teaching the production of art, the appreciation of art in our history and culture, the critical assessment of art, and the connections between the various disciplines.</p>
  <p>Additionally, our music program gives students the opportunity to hear, perform, create, and appreciate music of all types. Through these experiences students will understand and apply the elements of music, experiment with the tools of music, develop an awareness and appreciation for music, past and present, and express themselves creatively.</p>
  <p>Our school is a member of <a href="http://www.artsonia.com/" target="_blank">Artsonia.com</a>, the largest online student art museum. Artsonia showcases artwork from thousands of schools around the world. Artsonia’s goals are to develop students’ pride and self-esteem, increase their multicultural understanding through art and involve parents and relatives in student education and accomplishments.</p>
  
            </div><!-- .entry-content -->
  
          </div><!-- #post -->
          
        </div><!-- #content -->
            </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      
    </div> <!-- /container -->
    <style>
      .top-banner{
        background-image: url("assets/images/programs/arts/banner.jpg");
          background-color: #cccccc; /* Used if the image is unavailable */
          height: 300px; /* You must set a specified height */
          background-position: center; /* Center the image */
          background-repeat: no-repeat; /* Do not repeat the image */
          background-size: cover; /* Resize the background image to cover the entire container */        }
    </style>
    