    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron top-banner">
        <div class="container">
          <h1 class="display-3">Faculty</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
  
<hr>
<div class="container">
		<div id="content">

	<ul id="nobel_tool_bar" class="tablet">
		
		<li class="email-tool clickable"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></li>
		<li class="print-tool clickable"><i class="fa fa-fw fa-print" aria-hidden="true"></i></li>

			</ul>

				<div id="post-43" class="post-43 page type-page status-publish has-post-thumbnail hentry p publish author-webdev untagged comments-closed pings-closed y2014 m10 d30 h14 alt slug-our-faculty">
				
				<div id="page_title">
					

					<h1 class="entry-title">Our Faculty</h1>
				</div>
				
								
				<div class="entry-content">
										<div class="teacher-list-area">
						        <div class="teacher-search">
            <form method="get">
                <input type="text" name="search_teachers" id="search_teachers" placeholder="Find a Teacher" value="">
                <input type="submit" id="search_teachers_submit" value="Search">
            </form>
        </div>
            <div class="teacher-list-content">
            <ul class="teacher-list clear-fix">
                            <li class="teacher-details">
                    <h3>hina.hirani</h3>
                    <div>
                                                <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:hina.hirani@nlcinc.com">Email</a><br>
                                                                    <a class="teacher-class" href="/parents/our-faculty/teacher/hina-hirani">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Sandy Adelstein</h3>
                    <div>
                                                <h4>1st Grade</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Sandy.Adelstein@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1039</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/sandy-adelstein">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Fareyha Alam</h3>
                    <div>
                                                <h4>Grade 6</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Fareyha.Alam@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1030</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/fareyha-alam">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Angela Bahadoran</h3>
                    <div>
                                                <h4>Toddler Teacher</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Angela.Bahadoran@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1054</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Cinnamon Baldwin</h3>
                    <div>
                                                <h4>Student Activities Coordinator</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Cinnamon.Baldwin@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1083</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Angela Balouchestani</h3>
                    <div>
                                                <h4>IT Specialist</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Angela.Balouchestani@nlcinc.com">Email</a><br>
                                                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Mahir Bildik</h3>
                    <div>
                                                <h4>K-8 Art</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:mahir.bildik@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1037</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/mahir-bildik">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Esther Burck</h3>
                    <div>
                                                <h4>Second Grade</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Esther.Burck@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1016</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/esther-burck">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Tom Charkalis</h3>
                    <div>
                                                <h4>Kindergarten</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Tom.Charkalis@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1043</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/tom-charkalis">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Ying Chow</h3>
                    <div>
                                                <h4>1st Grade</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Ying.Chow@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1040</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/ying-chow">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Megan Clark</h3>
                    <div>
                                                <h4>Transitional Kindergarten</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:megan.clark@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1060</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Sandra Coombs</h3>
                    <div>
                                                <h4>5th grade ELA and Reading</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:sandra.coombs@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1028</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/sandra-coombs">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Gwen Curtice</h3>
                    <div>
                                                <h4>MS 7th grade math, Pre-Alg 7th Math &amp; PSIA 2-8</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Gwen.Curtice@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1027</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/gwen-curtice">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Joy Dasgupta</h3>
                    <div>
                                                <h4>Early Childhood Program Principal </h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Joy.Dasgupta@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1010</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Priya Dhamankar</h3>
                    <div>
                                                <h4>3rd grade Math</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:priya.dhamankar@nlcinc.com">Email</a><br>
                                                                    <a class="teacher-class" href="/parents/our-faculty/teacher/priya-dhamankar">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Judith Eberhardt</h3>
                    <div>
                                                <h4>Second Grade</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Judith.Eberhardt@nlcinc.com">Email</a><br>
                                                                    <a class="teacher-class" href="/parents/our-faculty/teacher/judith-eberhardt">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Hannah Fisher</h3>
                    <div>
                                                <h4>4th grade ELA</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:hannah.fisher@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1023</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/hannah-fisher">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Michelle Fox</h3>
                    <div>
                                                <h4>Kindergarten</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Michelle.Fox@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1045</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/michelle-fox">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Melissa Frank</h3>
                    <div>
                                                <h4>Kindergarten</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Melissa.Frank@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1046</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/melissa-mulhall">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Stephanie Fulin</h3>
                    <div>
                                                <h4>ES &amp; MS Administrative Assistant </h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Stephanie.Fulin@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1018</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Amanda Garvin</h3>
                    <div>
                                                <h4>Pre-K Teacher</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Amanda.Garvin@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1052</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Adrian Garza</h3>
                    <div>
                                                <h4>Transitional Kindergarten</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Adrian.Garza@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1065</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Andrea Gibbs</h3>
                    <div>
                                                <h4>Human Resources </h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Andrea.Gibbs@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1067</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Belinda Gomez</h3>
                    <div>
                                                <h4>Toddlers</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:belinda.gomez@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1006</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/belinda-gomez">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Tom Heinly</h3>
                    <div>
                                                <h4>Head of School</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Tom.Heinly@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1004</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Tracey Hollingsworth</h3>
                    <div>
                                                <h4>Director of Admissions &amp; PR</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Tracey.Hollingsworth@nlcinc.com">Email</a><br>
                                                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Kimberly Holmes</h3>
                    <div>
                                                <h4>Second Grade</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Kimberly.Holmes@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1017</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/kimberly-holmes">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Sandy Honeycutt</h3>
                    <div>
                                                <h4>2nd Grade</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Sandy.Honeycutt@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1015</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/sandy-honeycutt">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Tempie Julian</h3>
                    <div>
                                                <h4>Transitional Kindergarten</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Tempie.Julian@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1050</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Rosie Juloori</h3>
                    <div>
                                                <h4>1st Grade</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Rosie.Juloori@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1038</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/rosie-juloori">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Sammie Kennedy</h3>
                    <div>
                                                <h4>Kindergarten</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:sammie.kennedy@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1042</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/sammie-kennedy">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Megan Kent</h3>
                    <div>
                                                <h4>4th Grade Math</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:megan.kent@nlcinc.com">Email</a><br>
                                                                    <a class="teacher-class" href="/parents/our-faculty/teacher/megan-kent">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Narmin Khoja</h3>
                    <div>
                                                <h4>3rd Grade Science &amp; SS</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:narmin.khoja@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1012</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/narmin-khoja">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Kim LaBolt</h3>
                    <div>
                                                <h4>4th grade science</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:kim.labolt@nlcinc.com">Email</a><br>
                                                                    <a class="teacher-class" href="/parents/our-faculty/teacher/kim-labolt">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Elan Lam</h3>
                    <div>
                                                <h4>MS ELA &amp; Orchestra</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Elan.lam@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1031</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/elan-wong">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Lori Leal</h3>
                    <div>
                                                <h4>Pre-K Teacher</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Lori.Leal@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1057</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Thalia Lopez de Cardenas</h3>
                    <div>
                                                <h4>Middle School Spanish</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Thalia.LopezdeCardenas@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1031</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/thalia-lopezdecardenas">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Dee Magallanes</h3>
                    <div>
                                                <h4>3rd Grade ELA, Lead Literacy</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Dee.Magallanes@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1024</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/dee-magallanes">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Mylla Marvin</h3>
                    <div>
                                                <h4>5th Grade</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:mylla.marvin@nlcinc.com">Email</a><br>
                                                                    <a class="teacher-class" href="/parents/our-faculty/teacher/mylla-marvin">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Sonal Marwaha</h3>
                    <div>
                                                <h4>Librarian</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Sonal.Marwaha@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1051</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/sonal-marwaha">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Kristen Matthews</h3>
                    <div>
                                                <h4>Physical Education &amp; Health</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:kristen.matthews@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1084</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/kristen-matthews">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Sandra Moore</h3>
                    <div>
                                                <h4>Toddler Teacher</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Sandra.Moore@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1053</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Anna Murchison</h3>
                    <div>
                                                <h4>MS Science </h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Anna.Murchison@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1036</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/anna-murchison">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Ellen Muse</h3>
                    <div>
                                                <h4>Nurse</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:ellen.muse@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1066</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/ellen-muse">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Jose Ortiz</h3>
                    <div>
                                                <h4>7th and 8th</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:jose.ortiz@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1034</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/jose-ortiz">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Karyn Pannell</h3>
                    <div>
                                                <h4>First Grade Teacher </h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Karyn.Pannell@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1042</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/karyn-pannell">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Jack Paschall</h3>
                    <div>
                                                <h4>Athletic Director</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Jack.Paschall@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1021</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/jack-paschall">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Mary Perrin</h3>
                    <div>
                                                <h4>Transitional Kindergarten</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:mary.perrin@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1049</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/mary-perrin">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Doris Quintero</h3>
                    <div>
                                                <h4>K-8 Principal</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Doris.Quintero@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1002</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Adam Ramsey</h3>
                    <div>
                                                <h4>Coach &amp; Physical Education</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Adam.Ramsey@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1084</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/adam-ramsey">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Shazeen Rashid</h3>
                    <div>
                                                <h4>MS Math</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:shazeen.rashid@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1035</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/shazeen-rashid">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Elizabeth Romo</h3>
                    <div>
                                                <h4>Guidance Counselor</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:elizabeth.romo@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1019</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/elizabeth-romo">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Sue Sacks</h3>
                    <div>
                                                <h4>Transitional Kindergarten</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Sue.Sacks@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1061</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Nioshi Shah</h3>
                    <div>
                                                <h4>Business Office Administrative Assistant </h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Nioshi.Shah@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1001</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Jason Smith</h3>
                    <div>
                                                <h4>Music</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Jason.Smith@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1041</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/jason-smith">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Ana Trackwell</h3>
                    <div>
                                                <h4>Director of Finance</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Ana.Trackwell@nlcinc.com">Email</a><br>
                                                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Gaelan Tracy</h3>
                    <div>
                                                <h4>5th/6th Grade</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:gaelan.tracy@nlcinc.com">Email</a><br>
                                                                    <a class="teacher-class" href="/parents/our-faculty/teacher/gaelan-tracy">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Laura Warren</h3>
                    <div>
                                                <h4>Elementary Spanish</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Laura.Warren@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1029</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/laura-warren">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Tanya Washington</h3>
                    <div>
                                                <h4>5th  &amp; 6th History-World Geo.</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Tanya.Washington@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1033</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/tanya-washington">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Lauren White</h3>
                    <div>
                                                <h4>Band, Drama, Musical Theater</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Lauren.White@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1082</span><br>
			                                    <a class="teacher-class" href="/parents/our-faculty/teacher/lauren-white">Classroom Page<span class="pm-pages">s</span> <span>»</span></a>
                                                            </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Janet Williams</h3>
                    <div>
                                                <h4>Administrative Assistant ECP</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Janet.Williams@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1007</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Lisa Williams</h3>
                    <div>
                                                <h4>Pre-K Teacher</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Lisa.Williams@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1056</span><br>
			                        </div>
                    </div>
                </li>
                                <li class="teacher-details">
                    <h3>Michelle Zimmerman</h3>
                    <div>
                                                <h4>Front Desk Assistant</h4>
                                                    <div class="teacher-links">
                                                            <a class="teacher-email" href="mailto:Michelle.Zimmerman@nlcinc.com">Email</a><br>
                                			<span class="teacher-phone">(281) 265-7888 x1007</span><br>
			                        </div>
                    </div>
                </li>
                        </ul>
            </div>
    					</div>
				</div><!-- .entry-content -->
			</div><!-- #post -->
				</div><!-- #content -->

		</div>

<hr>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
         </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
  
        <hr>
  
        
      </div> <!-- /container -->
      <style>
        .top-banner{
            background-image: url("assets/images/parents/faculty/banner.jpg");
            background-color: #cccccc; /* Used if the image is unavailable */
            height: 300px; /* You must set a specified height */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
        }
        </style>
    