    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron top-banner">
        <div class="container">
          <h1 class="display-3">Information for parents</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
  <hr>
  <div class="container">
			<div id="content">
	<ul id="nobel_tool_bar" class="tablet">		
		<li class="email-tool clickable"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></li>
		<li class="print-tool clickable"><i class="fa fa-fw fa-print" aria-hidden="true"></i></li>
		<li class="fontS-tool clickable"><i class="fa fa-fw fa-font" aria-hidden="true"></i></li>
		<li class="fontL-tool clickable"><i class="fa fa-fw fa-font" aria-hidden="true"></i></li>

			</ul>
					<div id="post-52" class="">					
					<div id="page_title">
					  <h1 class="entry-title">Parent Information</h1>
					</div>
					<div class="entry-content">
						<h3 class="entry-content"><strong>2018-2019 Orientation</strong></h3>
          <div class="page" title="Page 2">
          <div class="section">
          <div class="layoutArea">
          <div class="column">
          <p>Orientation/Meet Your Teacher will be held for ECP, Elementary and Middle School on <strong>Friday, August 10, 2018</strong>. All families are to report to the gym.</p>
          <ul>
          <li>OrientationTimes:
          <ul>
          <li>All ECP (Toddler through TK):&nbsp;8:30-11:00 AM</li>
          <li>New Family Orientation&nbsp;(all NEW families to THRS) in the Dining Hall: 8:30-9:00 AM</li>
          <li>Kindergarten-8th grades:
          <ul>
          <li>&nbsp;Last names I-O: 9:00-10:00</li>
          <li>&nbsp;Last names A-H: 10:00-11:00</li>
          <li>&nbsp;Last names P-Z: 11:00-12:00</li>
          </ul>
          </li>
          </ul>
          </li>
          <li>ECP First Day of School: <strong>Monday, August 13th</strong> (Formal uniform). Please note campus is closed for K-8th on this day. No holiday care available.</li>
          <li>ES/MS First Day of School: <strong>Tuesday, August 14th</strong> (Formal uniform)</li>
          </ul>
          </div>
          </div>
          </div>
          </div>
          <h3 class="entry-content">Links to Learning app</h3>
          <p>We know how much you enjoy seeing photos of your children in action learning and having fun at school. The Links 2 Home mobile app gives you the ability to easily view these communications, which will be available throughout your child’s enrollment with us. &nbsp;Download Links 2 Home by clicking on the following:</p>
          <p>For an Apple device click here: &nbsp;&nbsp;<a href="https://itunes.apple.com/us/app/links-2-home/id1081483198?mt=8"><strong>itunes</strong></a>.</p>
          <p>For an Android device click here:<strong>&nbsp; </strong><a href="https://play.google.com/store/apps/details?id=com.nobellearning.links2home&amp;hl=en"><strong>Google Play</strong></a></p>
          <p>By visiting and downloading from the Apple or Google Play store you will create an account using the email address that is on file with our school. Both parents are able to create accounts. Please contact the Business Office to verify your email addresses if needed.</p>
          <h3 class="entry-content"><strong>Uniform</strong></h3>
          <p>We require all students to wear a school uniform unless otherwise directed. Uniform colors and pieces vary based on grade.</p>
          <ul>
          <li>Tommy Hilfiger is our approved uniform provider. <a title="Click here to order uniforms from their website." href="https://www.globalschoolwear.com/default/" target="_blank" rel="noopener">Click here to order uniforms from their website.</a> When ordering shirts/outerwear, please ensure you order them with our logo.</li>
          <li>Field Trip t-shirts (for K-4th) and spirit shirts can be purchased from the School Store located on campus, inside the white building (Business Office).</li>
          <li>Summer Sale starts June 20.</li>
          <li><a href="https://www.thehonorrollschool.com/wp-content/uploads/sites/22/2018/06/UniformsR-1.pdf" target="_blank" rel="noopener">Uniform Guide (ECP-8th)</a></li>
          </ul>
          <h3>School Fees/Payments</h3>
          <p>To use a credit or debit card, or to set up ACH automatic payments, log into <a title="Alma" href="http://nlci1751.getalma.com" target="_blank" rel="noopener">Alma</a> and visit your account page.</p>
          <h3><strong>Children’s Health</strong></h3>
          <p>Students who are ill and/or have a fever must remain at home. The regulations of the Texas Department of Health require that all students must be free from fever (100.4° F or higher) for more than 24 hours before returning to school. The School Nurse will decide whether or not a child is well enough to attend class.&nbsp; The School Nurse’s decision is final in these matters.</p>
          <p><a href="http://www.thehonorrollschool.com/wp-content/uploads/sites/22/2014/10/Peanut-free-Environment.pdf" target="_blank" rel="noopener noreferrer">Peanut-free Environment</a></p>
          <h3>Emergency Closings</h3>
          <p>Please note that The Honor Roll School will follow the emergency closure of Fort Bend Independent School District.&nbsp;You can go to <a href="http://www.click2houston.com" target="_blank" rel="noopener noreferrer">www.click2houston.com</a> or follow the local TV channels to get information on school closings. The school will also send out text messages via JupiterEd, notifying parents about emergency closings. Please ensure your JupiterEd settings allow for text messaging under each parent’s account.</p>
          <h3>Handbooks</h3>
          <p><a href="https://www.thehonorrollschool.com/wp-content/uploads/sites/22/2018/08/2018-2019-Handbook-ECP.pdf" target="_blank" rel="noopener">Early Childhood</a></p>
          <p><a href="https://www.thehonorrollschool.com/wp-content/uploads/sites/22/2018/11/2018-2019-Handbook-ES-MS.pdf" target="_blank" rel="noopener">Elementary and Middle School</a></p>
          <h3><strong>Resources</strong></h3>
          <ul>
          <li><a title="Alma" href="http://Nlci1751.getalma.com" target="_blank" rel="noopener">Alma</a></li>
          <li><a href="https://hosted195.renlearn.com/1348894/" target="_blank" rel="noopener noreferrer">Accelerated Reader</a></li>
          <li><a href="https://thrs.follettdestiny.com/common/welcome.jsp?context=saas41_4206820" target="_blank" rel="noopener noreferrer">THRS Online Library Catalog</a></li>
          <li><a href="http://www.refdesk.com/" target="_blank" rel="noopener noreferrer">Reference Desk</a></li>
          <li><a href="http://www.visualthesaurus.com/" target="_blank" rel="noopener noreferrer">Visual Thesaurus</a></li>
          <li><a href="http://www.fortbend.lib.tx.us/" target="_blank" rel="noopener noreferrer">Fort Bend County Libraries</a></li>
          <li><a href="http://www.merriam-webster.com/" target="_blank" rel="noopener noreferrer">Merriam-Webster Online Dictionary</a></li>
          <li><a href="http://www.sugarlandtx.gov/" target="_blank" rel="noopener noreferrer">The City of Sugar Land</a></li>
          </ul>
          <h3 class="entry-content"></h3>

					</div><!-- .entry-content -->

				</div><!-- #post -->
				
			</div><!-- #content -->
					</div>
  <hr>


      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
         </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
  
        <hr>
  
        
      </div> <!-- /container -->
      <style>
          .top-banner{
            background-image: url("assets/images/parents/info/banner.jpg");
            background-color: #cccccc; /* Used if the image is unavailable */
            height: 300px; /* You must set a specified height */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
          }
        </style>
    
      