    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron top-banner">
        <div class="container">
          <h1 class="display-3">News</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
  
<hr>
<div class="container" class="clear-fix">        		
		<div id="nobel_sidebar">
		<div class="sub-wrapper">
					</div>
		</div>		
		<div id="content">
	<ul id="nobel_tool_bar" class="tablet">		
		<!-- <li class="rss-tool clickable"><a href="https://www.thehonorrollschool.com/feed/?school_id=1751"><i class="fa fa-fw fa-rss" aria-hidden="true"></i></a></li> -->
      <li class="email-tool clickable"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></li>
      <li class="print-tool clickable"><i class="fa fa-fw fa-print" aria-hidden="true"></i></li>
      <li class="fontS-tool clickable"><i class="fa fa-fw fa-font" aria-hidden="true"></i></li>
      <li class="fontL-tool clickable"><i class="fa fa-fw fa-font" aria-hidden="true"></i></li>
			</ul>

	            <div id="post-4" class="post-4 page type-page status-publish has-post-thumbnail hentry p publish author-webdev untagged comments-closed pings-closed y2014 m04 d29 h16 alt slug-news">
          			
      			<div id="page_title">
					

					<h1 class="entry-title">News</h1>
				</div>
				
				              
                <div class="entry-content">
                                    </div><!-- .entry-content -->
            </div><!-- #post -->
                        <div id="news-articles">
                
				<div id="post-1606" class="post-1606 post type-post status-publish format-standard hentry p1 publish author-angela-balouchestani untagged is-excerpt auto-excerpt comments-closed pings-closed y2018 m11 d05 h15 slug-1751-early-childhood-november-newsletter-2018"> 

				

					<h2 class="entry-title"><a href="https://www.thehonorrollschool.com/2018/11/05/1751-early-childhood-november-newsletter-2018/" title="Permalink to Early Childhood November Newsletter" rel="bookmark">Early Childhood November Newsletter</a></h2>

					<div class="entry-meta">

	<span class="meta-prep meta-prep-author">By </span><span class="author vcard"><a class="url fn n" href="https://www.thehonorrollschool.com/author/angela-balouchestani/" title="View all posts by Angela Balouchestani">Angela Balouchestani</a></span>

	<span class="meta-sep meta-sep-entry-date"> | </span>

	<span class="meta-prep meta-prep-entry-date">Published: </span><span class="entry-date"><abbr class="published" title="2018-11-05T15:17:35+0000">November 5, 2018</abbr></span>

	

</div><!-- .entry-meta -->
     				
					<div class="entry-content">
					
						<p>Click here to read this month’s ECP Newsletter.</p>

											
					</div><!-- .entry-content -->
					
					<div class="entry-utility">

					</div><!-- .entry-utility -->
					
				</div><!-- #post -->

			
				<div id="post-1588" class="post-1588 post type-post status-publish format-standard hentry p2 publish author-angela-balouchestani untagged is-excerpt auto-excerpt comments-closed pings-closed y2018 m10 d11 h17 alt slug-1751-october-ecp-newsletter-2018"> 

				

					<h2 class="entry-title"><a href="https://www.thehonorrollschool.com/2018/10/11/1751-october-ecp-newsletter-2018/" title="Permalink to October ECP Newsletter" rel="bookmark">October ECP Newsletter</a></h2>

					<div class="entry-meta">

	<span class="meta-prep meta-prep-author">By </span><span class="author vcard"><a class="url fn n" href="https://www.thehonorrollschool.com/author/angela-balouchestani/" title="View all posts by Angela Balouchestani">Angela Balouchestani</a></span>

	<span class="meta-sep meta-sep-entry-date"> | </span>

	<span class="meta-prep meta-prep-entry-date">Published: </span><span class="entry-date"><abbr class="published" title="2018-10-11T17:07:08+0000">October 11, 2018</abbr></span>

	

</div><!-- .entry-meta -->
     				
					<div class="entry-content">
					
						<p>ECP October Newsletter 2018</p>

											
					</div><!-- .entry-content -->
					
					<div class="entry-utility">

					</div><!-- .entry-utility -->
					
				</div><!-- #post -->

			
				<div id="post-1371" class="post-1371 post type-post status-publish format-standard hentry p3 publish author-angela-balouchestani untagged is-excerpt auto-excerpt comments-closed pings-closed y2017 m08 d18 h18 slug-1751-august-counselor-newsletter-2017"> 

				

					<h2 class="entry-title"><a href="https://www.thehonorrollschool.com/2017/08/18/1751-august-counselor-newsletter-2017/" title="Permalink to August Counselor Newsletter" rel="bookmark">August Counselor Newsletter</a></h2>

					<div class="entry-meta">

	<span class="meta-prep meta-prep-author">By </span><span class="author vcard"><a class="url fn n" href="https://www.thehonorrollschool.com/author/angela-balouchestani/" title="View all posts by Angela Balouchestani">Angela Balouchestani</a></span>

	<span class="meta-sep meta-sep-entry-date"> | </span>

	<span class="meta-prep meta-prep-entry-date">Published: </span><span class="entry-date"><abbr class="published" title="2017-08-18T18:05:12+0000">August 18, 2017</abbr></span>

	

</div><!-- .entry-meta -->
     				
					<div class="entry-content">
					
						<p>Welcome back! Please take a moment to read our Counselor’s Newsletter for this month.</p>

											
					</div><!-- .entry-content -->
					
					<div class="entry-utility">

					</div><!-- .entry-utility -->
					
				</div><!-- #post -->

			
				<div id="post-1331" class="post-1331 post type-post status-publish format-standard hentry p4 publish author-angela-balouchestani untagged is-excerpt auto-excerpt comments-closed pings-closed y2017 m06 d02 h16 alt slug-1751-parker-uniform-june-sale-2017"> 

				

					<h2 class="entry-title"><a href="https://www.thehonorrollschool.com/2017/06/02/1751-parker-uniform-june-sale-2017/" title="Permalink to Parker Uniform June Sale" rel="bookmark">Parker Uniform June Sale</a></h2>

					<div class="entry-meta">

	<span class="meta-prep meta-prep-author">By </span><span class="author vcard"><a class="url fn n" href="https://www.thehonorrollschool.com/author/angela-balouchestani/" title="View all posts by Angela Balouchestani">Angela Balouchestani</a></span>

	<span class="meta-sep meta-sep-entry-date"> | </span>

	<span class="meta-prep meta-prep-entry-date">Published: </span><span class="entry-date"><abbr class="published" title="2017-06-02T16:39:31+0000">June 2, 2017</abbr></span>

	

</div><!-- .entry-meta -->
     				
					<div class="entry-content">
					
						<p>Shop early and save starting June 15th! Read the&nbsp;Parker Newsletter&nbsp;for more details. &nbsp;</p>

											
					</div><!-- .entry-content -->
					
					<div class="entry-utility">

					</div><!-- .entry-utility -->
					
				</div><!-- #post -->

			
				<div id="post-1330" class="post-1330 post type-post status-publish format-standard hentry p5 publish author-angela-balouchestani untagged is-excerpt auto-excerpt comments-closed pings-closed y2017 m06 d01 h18 slug-1751-honor-roll-school-raises-2000-east-fort-bend-human-needs-ministry-inc-2017"> 

				

					<h2 class="entry-title"><a href="https://www.thehonorrollschool.com/2017/06/01/1751-honor-roll-school-raises-2000-east-fort-bend-human-needs-ministry-inc-2017/" title="Permalink to The Honor Roll School Raises More Than $2,000 for the East Fort Bend Human Needs Ministry, Inc." rel="bookmark">The Honor Roll School Raises More Than $2,000 for the East Fort Bend Human Needs Ministry, Inc.</a></h2>

					<div class="entry-meta">

	<span class="meta-prep meta-prep-author">By </span><span class="author vcard"><a class="url fn n" href="https://www.thehonorrollschool.com/author/angela-balouchestani/" title="View all posts by Angela Balouchestani">Angela Balouchestani</a></span>

	<span class="meta-sep meta-sep-entry-date"> | </span>

	<span class="meta-prep meta-prep-entry-date">Published: </span><span class="entry-date"><abbr class="published" title="2017-06-01T18:40:35+0000">June 1, 2017</abbr></span>

	

</div><!-- .entry-meta -->
     				
					<div class="entry-content">
					
						<p>THRS featured in the Sugar Land Patch!</p>

											
					</div><!-- .entry-content -->
					
					<div class="entry-utility">

					</div><!-- .entry-utility -->
					
				</div><!-- #post -->

			
				<div id="post-1323" class="post-1323 post type-post status-publish format-standard hentry p6 publish author-angela-balouchestani untagged is-excerpt auto-excerpt comments-closed pings-closed y2017 m05 d14 h17 alt slug-1751-thrs-partners-board-expansion-2017"> 

				

					<h2 class="entry-title"><a href="https://www.thehonorrollschool.com/2017/05/14/1751-thrs-partners-board-expansion-2017/" title="Permalink to THRS Partners board expansion" rel="bookmark">THRS Partners board expansion</a></h2>

					<div class="entry-meta">

	<span class="meta-prep meta-prep-author">By </span><span class="author vcard"><a class="url fn n" href="https://www.thehonorrollschool.com/author/angela-balouchestani/" title="View all posts by Angela Balouchestani">Angela Balouchestani</a></span>

	<span class="meta-sep meta-sep-entry-date"> | </span>

	<span class="meta-prep meta-prep-entry-date">Published: </span><span class="entry-date"><abbr class="published" title="2017-05-14T17:09:45+0000">May 14, 2017</abbr></span>

	

</div><!-- .entry-meta -->
     				
					<div class="entry-content">
					
						<p>THRS Partners&nbsp;Board&nbsp;of Directors&nbsp;would like to announce a&nbsp;board&nbsp;expansion&nbsp;scheduled to go into effect Summer 2017 and serving the 2017-2018 academic year.&nbsp; The&nbsp;Board&nbsp;is inviting potential candidates to submit a completed application&nbsp;and resume (if applicable). Successful candidates will: Understand&nbsp;and support THRS Partners’ mission Understand&nbsp;the importance of teamwork and individual leadership Understand the roles &amp;… <br><a class="read-more" href="https://www.thehonorrollschool.com/2017/05/14/1751-thrs-partners-board-expansion-2017/">Read More&nbsp;»</a></p>

											
					</div><!-- .entry-content -->
					
					<div class="entry-utility">

					</div><!-- .entry-utility -->
					
				</div><!-- #post -->

			
				<div id="post-1321" class="post-1321 post type-post status-publish format-standard hentry p7 publish author-angela-balouchestani untagged is-excerpt auto-excerpt comments-closed pings-closed y2017 m05 d14 h17 slug-1751-may-counselors-corner-newsletter-2017"> 

				

					<h2 class="entry-title"><a href="https://www.thehonorrollschool.com/2017/05/14/1751-may-counselors-corner-newsletter-2017/" title="Permalink to May Counselor’s Corner Newsletter" rel="bookmark">May Counselor’s Corner Newsletter</a></h2>

					<div class="entry-meta">

	<span class="meta-prep meta-prep-author">By </span><span class="author vcard"><a class="url fn n" href="https://www.thehonorrollschool.com/author/angela-balouchestani/" title="View all posts by Angela Balouchestani">Angela Balouchestani</a></span>

	<span class="meta-sep meta-sep-entry-date"> | </span>

	<span class="meta-prep meta-prep-entry-date">Published: </span><span class="entry-date"><abbr class="published" title="2017-05-14T17:06:49+0000">May 14, 2017</abbr></span>

	

</div><!-- .entry-meta -->
     				
					<div class="entry-content">
					
						<p>Click here to read this month’s&nbsp;Counselor’s Corner.</p>

											
					</div><!-- .entry-content -->
					
					<div class="entry-utility">

					</div><!-- .entry-utility -->
					
				</div><!-- #post -->

			
				<div id="post-1316" class="post-1316 post type-post status-publish format-standard hentry p8 publish author-angela-balouchestani untagged is-excerpt auto-excerpt comments-closed pings-closed y2017 m05 d08 h18 alt slug-1751-ecp-may-newsletter-2017"> 

				

					<h2 class="entry-title"><a href="https://www.thehonorrollschool.com/2017/05/08/1751-ecp-may-newsletter-2017/" title="Permalink to ECP May Newsletter" rel="bookmark">ECP May Newsletter</a></h2>

					<div class="entry-meta">

	<span class="meta-prep meta-prep-author">By </span><span class="author vcard"><a class="url fn n" href="https://www.thehonorrollschool.com/author/angela-balouchestani/" title="View all posts by Angela Balouchestani">Angela Balouchestani</a></span>

	<span class="meta-sep meta-sep-entry-date"> | </span>

	<span class="meta-prep meta-prep-entry-date">Published: </span><span class="entry-date"><abbr class="published" title="2017-05-08T18:23:07+0000">May 8, 2017</abbr></span>

	

</div><!-- .entry-meta -->
     				
					<div class="entry-content">
					
						<p>Here’s what’s happening in ECP as we reach the last month of the school year!</p>

											
					</div><!-- .entry-content -->
					
					<div class="entry-utility">

					</div><!-- .entry-utility -->
					
				</div><!-- #post -->

			
				<div id="post-1302" class="post-1302 post type-post status-publish format-standard hentry p9 publish author-angela-balouchestani untagged is-excerpt auto-excerpt comments-closed pings-closed y2017 m04 d19 h17 slug-1751-ecp-april-newsletter-2017"> 

				

					<h2 class="entry-title"><a href="https://www.thehonorrollschool.com/2017/04/19/1751-ecp-april-newsletter-2017/" title="Permalink to ECP April Newsletter" rel="bookmark">ECP April Newsletter</a></h2>

					<div class="entry-meta">

	<span class="meta-prep meta-prep-author">By </span><span class="author vcard"><a class="url fn n" href="https://www.thehonorrollschool.com/author/angela-balouchestani/" title="View all posts by Angela Balouchestani">Angela Balouchestani</a></span>

	<span class="meta-sep meta-sep-entry-date"> | </span>

	<span class="meta-prep meta-prep-entry-date">Published: </span><span class="entry-date"><abbr class="published" title="2017-04-19T17:21:42+0000">April 19, 2017</abbr></span>

	

</div><!-- .entry-meta -->
     				
					<div class="entry-content">
					
						<p>Stay in the know by reading our ECP April Newsletter! Exciting events are coming up for our early childhood students as we approach the end of the school year!</p>

											
					</div><!-- .entry-content -->
					
					<div class="entry-utility">

					</div><!-- .entry-utility -->
					
				</div><!-- #post -->

			
				<div id="post-1276" class="post-1276 post type-post status-publish format-standard hentry p10 publish author-angela-balouchestani untagged is-excerpt auto-excerpt comments-closed pings-closed y2017 m04 d03 h13 alt slug-1751-april-counselors-corner-newsletter-2017"> 

				

					<h2 class="entry-title"><a href="https://www.thehonorrollschool.com/2017/04/03/1751-april-counselors-corner-newsletter-2017/" title="Permalink to April Counselor’s Corner Newsletter" rel="bookmark">April Counselor’s Corner Newsletter</a></h2>

					<div class="entry-meta">

	<span class="meta-prep meta-prep-author">By </span><span class="author vcard"><a class="url fn n" href="https://www.thehonorrollschool.com/author/angela-balouchestani/" title="View all posts by Angela Balouchestani">Angela Balouchestani</a></span>

	<span class="meta-sep meta-sep-entry-date"> | </span>

	<span class="meta-prep meta-prep-entry-date">Published: </span><span class="entry-date"><abbr class="published" title="2017-04-03T13:03:32+0000">April 3, 2017</abbr></span>

	

</div><!-- .entry-meta -->
     				
					<div class="entry-content">
					
						<p>Our&nbsp;Counserlor’s Corner&nbsp;Newsletter is here!</p>

											
					</div><!-- .entry-content -->
					
					<div class="entry-utility">

					</div><!-- .entry-utility -->
					
				</div><!-- #post -->

			            </div>
            
	<nav class="navigation pagination" role="navigation">
		<h2 class="screen-reader-text">Posts navigation</h2>
		<div class="nav-links"><span aria-current="page" class="page-numbers current">1</span>
<a class="page-numbers" href="https://www.thehonorrollschool.com/parents/news/page/2/">2</a>
<a class="page-numbers" href="https://www.thehonorrollschool.com/parents/news/page/3/">3</a>
<span class="page-numbers dots">…</span>
<a class="page-numbers" href="https://www.thehonorrollschool.com/parents/news/page/5/">5</a>
<a class="next page-numbers" href="https://www.thehonorrollschool.com/parents/news/page/2/">Next&nbsp;»</a></div>
	</nav>    	</div><!-- #content -->
        	</div>
<hr>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
         </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
  
        <hr>
  
        
      </div> <!-- /container -->

      <style>
        .top-banner{
			background-image: url("assets/images/parents/news/banner.jpg");
			background-color: #cccccc; /* Used if the image is unavailable */
			height: 300px; /* You must set a specified height */
			background-position: center; /* Center the image */
			background-repeat: no-repeat; /* Do not repeat the image */
			background-size: cover; /* Resize the background image to cover the entire container */
        }
      </style>
    
      