    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron top-banner">
        <div class="container">
          <h1 class="display-3">Parents</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
      </div>
  <hr>
  <div class="container">
			<div id="content">

        <ul id="nobel_tool_bar" class="tablet">		
          <li class="email-tool clickable"><i class="fa fa-fw fa-envelope-o" aria-hidden="true"></i></li>
          <li class="print-tool clickable"><i class="fa fa-fw fa-print" aria-hidden="true"></i></li>
          <li class="fontS-tool clickable"><i class="fa fa-fw fa-font" aria-hidden="true"></i></li>
          <li class="fontL-tool clickable"><i class="fa fa-fw fa-font" aria-hidden="true"></i></li>
			</ul>

					<div id="post-34" class="post-34 page type-page status-publish has-post-thumbnail hentry p publish author-webdev untagged comments-closed pings-closed y2014 m10 d30 h14 alt slug-parents">
					
					<div id="page_title">
						

					<h1 class="entry-title">For Parents</h1>
					</div>
					
										
					<div class="entry-content">

						<p>Check this section of our website&nbsp;for important dates and news about our school, as well as individual classroom web pages.</p>
<p>We know how busy families are today, so we maintain our detailed calendar online, as well as a school year overview. You will also find our school menu and monthly newsletters here.</p>

					</div><!-- .entry-content -->

				</div><!-- #post -->
				
			</div><!-- #content -->
          </div>
          
  <hr>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
         </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
  
        <hr>
  
        
      </div> <!-- /container -->
      <style>
          .top-banner{
            background-image: url("assets/images/parents/banner.jpg");
            background-color: #cccccc; /* Used if the image is unavailable */
            height: 300px; /* You must set a specified height */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */
          }
        </style>
    