div.basic-form {
	background: #F8F8F8;
}

div.basic-form label {
	height: 40px;
	width: 160px;
	font-size:0.875em;
	float: left;
	background: #F8F8F8;
	padding: 0 10px 0 10px;
	margin: 0 0 0 0;
	text-align: right;
}

div.basic-form span.input {
	height: 40px;
	width: 280px;
	font-size:0.875em;
	float: left;
	background: #F8F8F8;
	padding: 0 10px 0 10px;
	margin: 0 0 0 0;
	text-align: left;
}

div.basic-form div.buttons {
	clear: both;
	float: left;
}

.text_filter {
/*	width: 90%;*/
}

tr.even tr.sorting_1 {
	background-color: #EAEBFF;
}

div#chart {
	text-align: center;
}

div.query-results {
	width: 100%;
	height: 100%;
}

.adder .delete {
	visibility: hidden;
}

.adder .move-order-up {
	background: url("../images/move_order.png") no-repeat;
}

.adder .move-order-down {
	background: url("../images/move_order.png") no-repeat;
}

.content-disabled {
	visibility: hidden;
}

span.error {
	color: #c0433d;
	visibility: hidden;
}

.error {
    color: #c0433d;
}

#main div.cursor-gps {
	cursor: url(../images/gps.png), crosshair;
}

#content #query-summary {
	text-align: left;
	font-size:0.875em;
}

#query-graph {
	background: #dadfc0; /* Old browsers */
	background: -moz-linear-gradient(top, #dadfc0 10%, #ffffff 40%);	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #dadfc0), color-stop(40%, #ffffff) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dadfc0 10%, #ffffff 40%);	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dadfc0 10%, #ffffff 40%);		/* Opera11.10+ */
	background: -ms-linear-gradient(top, #dadfc0 10%, #ffffff 40%);	/* IE10+ */
	filter: progid : DXImageTransform.Microsoft.gradient (startColorstr = '#dadfc0', endColorstr = '#ffffff', GradientType = 0); /* IE6-9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dadfc0', endColorstr = '#ffffff', GradientType = 0)";  /* IE6-9 */
	background: linear-gradient(top, #dadfc0 10%, #ffffff 40%); /* W3C */
}

.summary-section {
    margin: 0 0 10px;
}

.summary-head {
    color: #FFFFFF;
    font-size:1.125em;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;
	background: #cfd5af; /* Old browsers */
	background: -moz-linear-gradient(top, #cfd5af 30%, #93a24d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(30%,#cfd5af), color-stop(100%,#93a24d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #cfd5af 30%,#93a24d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #cfd5af 30%,#93a24d 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #cfd5af 30%,#93a24d 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd5af', endColorstr='#93a24d',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #cfd5af 30%,#93a24d 100%); /* W3C */	
}

.summary-sub-head {
    color: #FFFFFF;
    font-size:1em;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;
	background: #cfd5af; /* Old browsers */
}

.summary-value .name {
	width: 150px;
	font-weight: bold;
	text-align: right;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 5px;
}

.summary-value .value {
	text-align: left;
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 5px;
}

.summary-section ul {
	margin-left: 20px;
}

.summary-section ul .name {
/* 	font-size:0.875em; */
	font-weight: bold;
	margin-top: 5px;
	margin-right: 5px;
	display: inline-block;
}

.summary-section ul .value {
	text-align: left;
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 5px;
}

.summary-section ul .exclude {
	background-image: url('../images/exclude_selected.png');
	background-repeat: no-repeat;
	background-position: left middle;
/* 	line-height: 16px; */
	padding-left: 20px;
}

.summary-section ul .include {
	background-image: url('../images/include_selected.png');
	background-repeat: no-repeat;
	background-position: left middle;
/* 	line-height: 16px; */
	padding-left: 20px;
}

.summary-section ul .sub-label {
/* 	font-size:0.875em; */
	font-style: italic;
	font-weight: bold;
}

.summary-section ul .sub-label-inc-exc div.inc-exc {
	width: 60px;
	font-weight: bold;
	display: inline-block;
}

.summary-section ul .sub-label-inc-exc {
	font-size:0.750em;
	margin-left: 10px;
}

.summary-section ul {
/* 	font-size:0.875em; */
}

.summary-section .group {
	color: #A8B46E;
/* 	font-size: 1em; */
	font-weight: bold;
	margin-top: 5px;
	display: inline-block;
}

.summary-section .subgroup {
	background-image: url("../images/summary_icon_subgroup.png");
    background-position: left top;
    background-repeat: no-repeat;
	padding-left: 20px;
}

.summary-section .topgroup {
	margin-top: 20px;
}

div.control-overlay {
	padding-left: 5px; 
	background-color: white;
	opacity: 0.95;
	position: absolute;
	right: 0px;
	top: 0px;
	border-radius: 0 0 0 10px;
	z-index: 2000;
}

div.control-overlay div {
	display: inline-block;
	height: 18px;
	width: 18px;
	margin-top: 2px;
	padding: 2px 4px;
	cursor: pointer;
}

div.control-overlay div.map-legend {
	background: url("../images/map-icon-legend.png") center no-repeat;
}

div.control-overlay div.map-layers {
	background: url("../images/map-icon-layers.png") center no-repeat;
}

div.control-overlay div.query-options {
	background: url("../images/map-icon-settings.png") center no-repeat ;
}

div.control-overlay div.expanded {
	background-color: #eee;
	border-radius: 3px;	
	opacity: 0.95;
	-moz-box-shadow: inset 3px 3px 4px #ddd;
	-webkit-box-shadow: inset 3px 3px 4px #ddd;
	box-shadow: inset 1px 1px 4px #bbb;
}

div#query-analyze {
	/* margin-top: 20px; */
}

.node {
	margin: 5px;
	padding: 5px; 
	margin-right: 0px;
	padding-right: 0px; 
}

.node-odd {
	background-color: #ffffff; 
}

.node-even {
	background-color: #efefef; 
}

.node-header {
	width: 100%;
}

.node-field {
	width: 50%;
}

.node-buttons {
	float: right;
}

.node-buttons div {
	float: left;
	display: inline-block;
	height: 32px;
	width: 32px;
	border-radius: 4px;
	border: 1px solid #ccc;
	background-color: #fff; 
	-moz-box-shadow: inset -2px -2px 6px #ccc;
	-webkit-box-shadow: inset -2px -2px 6px #ccc;
	box-shadow: inset -2px -2px 6px #ccc;
}

.node-up {
	background: url("../images/button_icon_upload.png") center no-repeat ;
}
.node-down {
	background: url("../images/button_icon_download.png") center no-repeat ;
}
.node-left {
	background: url("../images/button_icon_back.png") center no-repeat ;
}
.node-right {
	background: url("../images/button_icon_continue.png") center no-repeat ;
}
.node-edit {
	background: url("../images/map-icon-settings.png") center no-repeat ;
}
.node-delete {
	background: url("../images/button_icon_delete.png") center no-repeat ;
}

.product-group select {
	width: 200px;
}

/***************************************************************************** 
	Geo Lookup floating dialog 
*/

/*
div.geolookup {
	position: absolute;
	z-index: 100;
	border: solid 2px #000;
	width: 420px;
	right: 150px;
	margin-right: 10px;
	padding: 5px;
	background: #CFE6E6;
}
*/

div.countpopup {
	position: absolute;
	z-index: 100;
	border: solid 2px #000;
	width: 620px;
	top: 25%;
	left: 25%;
	margin-right: 10px;
	padding: 5px;
	background: #CFE6E6;
}

.geolookup {
	position: absolute;
	display: none;
	
	z-index: 1201;
	top: 60px;
	right: 50px;
	left: 50px;
	
	outline: none;
	margin-right: 10px;
	padding-top: 5px;
	
	background: #D3D9B2;
	color: #444444;
	
	border: 1px solid white;
	font-size:0.938em;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	-border-radius: 3px;
	-moz-box-shadow: 0px 6px 8px #777;
	-webkit-box-shadow: 0px 6px 8px #777;
	box-shadow: 0px 6px 8px #777;
}

.geolookup-close {
	position: absolute;
	top: -15px;
	right: -15px;
	width: 30px;
	height: 30px;
	background: transparent url('images/fancybox.png') -40px 0px;
	cursor: pointer;
	z-index: 1203;
}

.left-button {
	float: left;
}

.right-button {
	float: right;
}

table.analyze-tabs {
	width: 100%;
    table-layout: fixed;
}

table.analyze-tabs tr {
    height:30px;
    color:#000;
    background: #e4e7d6;
    cursor: auto;
    padding:1px 3px;
    text-align: center;
}

table.analyze-tabs tr th.active {
    height:20px;
    background: #cfd5af;
}

#main .query-counts {
    background: none repeat scroll 0 0 #F0F0F0;
    border-radius: 11px;
    box-shadow: 3px 3px 15px #DDDDDD inset;
	position: absolute;
	text-align: right;
	color: black;
	opacity: 0.75;
    line-height: 22px;
    bottom: 3px;
    right: 30px;
	margin-bottom: 4px;
    margin-right: 9px;
    padding-left: 20px;
    padding-right: 20px;
    clear: both;
    
}

.bottom-buttons li .dropdown.squeeze a
{
    line-height:0.50em;
    padding: 8px 16px;
}

.summary-section .node-field .breadcrumb {
	color: #b6ad7c;
	font-size: 0.875em;
	white-space: normal;
	margin: 0 20px 0 0;
}


.analyze-widget .widget-header {
	height: 50px;
}

.analyze-widget .widget-body {
	margin: 5px;
}

.analyze-widget .widget-footer {
}

.analyze-widget {
	margin: 3px;
	display: inline-block;
	vertical-align: top;
}

.test-chart-panel.report-loading {
	text-align: center;
	background-image:url(../images/loading_loop.gif);
	background-position:center center;
	background-size: contain;
	background-repeat:no-repeat;
}

.widget-error span {
	font-weight: bold;
	display: block;
	margin-top: 30px;
	color: #4C5B52;
}

.widget-error {
	display: inline-block;
	background: #F7D0A0;
	background: -moz-linear-gradient(top, #F7D0A0 10%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #F7D0A0), color-stop(100%, #ffffff) );
	background: -webkit-linear-gradient(top, #F7D0A0 10%, #ffffff 100%);
	background: -o-linear-gradient(top, #F7D0A0 10%, #ffffff 100%);
	background: -ms-linear-gradient(top, #F7D0A0 10%, #ffffff 100%);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr = '#F7D0A0', endColorstr = '#ffffff', GradientType = 0 );
	background: linear-gradient(top, #F7D0A0 10%, #ffffff 100%);
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 3px #ddd;
	-webkit-box-shadow: 0px 0px 3px #ddd;
	box-shadow: 0px 0px 3px #ddd;
	text-align: justify;
	border: 1px solid #aaa;
}

span.value pre {
	width: 500px;
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}


.encounters-through {
	font-weight: normal;
	position: absolute;
	bottom: 6px;
	left: 194px
	/* left: 206px; */
}
