#body{
  margin: 0 0 0 0;
}

#main_nav{
  margin: 0 0 0 0;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  /* margin-right: 10px; */
  /* margin-top: 10px; */
  /* display: inline-block; */
  background-color: #eee;
  border-radius: 4px;
}

.navbar {
  /* position: relative; */
  min-height: 20px;
  /* margin-bottom: 1px; */
  /* margin-top: 1px; */
  /* background-color: gold; */
}

.navbar-nav {
  float: right;
}

.navbar-top-font{
  color: blue!important;
}

li.nav-item{
  color:black!important;
}

/**	Header
============================ */
#header {
	width: 100%;
	position: relative;
	top: auto;
  z-index: 9999;
  /* background-color: #17a2b8; */
}
#branding {
	width: auto;
	display: inline-block;
	margin: 2.5em 0 0 2;
	max-width: 80%;
	position: relative;
}
#branding a {
	text-decoration: none;
}
#header-logo {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}
#header-logo img {
	height: 45px;
	width: auto;
}
d

/* Emergency Notification */
.emergency-notification {
	background: #F34826;
	text-align: center;
	padding: 0.75em 0;
}
.emergency-notification p {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	font-weight: 500;
	color: rgb(243, 19, 19);
	line-height: 1.2;
}