/**	Footer
============================ */
#footer {
	background: #127df7;
}
#footer_social ul li a i {
    color: #173E6E;
}

#footer_details {
	margin-bottom: 3em;
}

/**	Footer
============================ */
#footer {
	margin: 1em 0 0;
	padding: 2em 0;
	color: rgb(41, 1, 1);
	font-weight: 300;
}
#nobel_footer_social {
	margin: 0 0 2em 0;
}
#footer_social {
	margin: 0 0 1.5em 0;
}
#footer_social ul li {
	display: inline-block;
	text-transform: uppercase;
	margin: 0 0.6em 0 0;
	font-weight: 400;
}	
#footer_social ul li a {
	display: block;
	padding: 0.4em 0.3em;
	background: rgb(72, 243, 72);
	border-radius: 0.7em;
	font-size: 1.4em;
}
#footer_social ul li a i {
	color: #173E6E;
}
#footer_accreditation img {
	max-width: 200px;
}
#footer_details p {
	font-weight: 500;
	font-size: 0.9em;
	margin: 0 0 0.5em 0;
}
#footer_details ul li {
	font-size: 0.85em;
	display: inline-block;
	margin: 0 0.2em 0.5em 0;
}
#footer_details ul li a {
	color: rgb(15, 13, 13);
}
#footer_links {
	margin: 1.2em 0;
}
#footer_links ul li {
	font-size: 0.85em;
	display: inline-block;
	margin: 0 0.2em 0.5em 0;
}
#footer_links ul li a {
	color: rgb(15, 13, 13);
}
#footer_links p {
	margin: 1em 0 0;
	font-size: 0.85em;
}
#footer_navigation {
	display: block;
	margin: 1.5em 0 0;
}
#footer_nav li {
	display: inline-block;
	vertical-align: top;
	margin: 0 1.8em 0 0;
}
#footer_nav li a {
	color: rgb(15, 13, 13);;
	font-weight: 500;
}
#footer_nav li ul.children,
#footer_nav li ul.sub-menu {
	display: block;
}
#footer_nav li ul.children li,
#footer_nav li ul.sub-menu li {
	display: block;
	padding: 0.2em 0;
	margin: 0 0 0 0;
}
#footer_nav li ul.children li a,
#footer_nav li ul.sub-menu li a {
	font-size: 0.9em;
	font-weight: 300;
}

@media only screen and ( min-width: 480px ) {
	
		
	ul.teacher-list li.teacher-details {
		float: left;
		width: 48%;
	}
	ul.teacher-list li.teacher-details:nth-of-type( 2n + 1 ) {
		margin: 0 4% 1.5em 0;
	}
	

} /* End Query */

@media only screen and ( min-width: 768px ) {
	
	ul.teacher-list li.teacher-details h3,
	ul.teacher-list li.teacher-details h4 {
		font-size: 0.9em;
	}
	ul.teacher-list li.teacher-details h3 {
		font-size: 1em;
	}
	ul.teacher-list li.teacher-details div.teacher-links a {
		font-size: 0.9em;
	}
	ul.teacher-list li.teacher-details,
	ul.teacher-list li.teacher-details:nth-of-type( 2n + 1 ) {
		width: 32%;
		margin: 0 1% 1.5em;
	}
	ul.teacher-list li.teacher-details:nth-of-type( 3n ) {
		margin: 0 0 1.5em 1%;
	}
	ul.teacher-list li.teacher-details:nth-of-type( 3n + 1 ) {
		margin: 0 1% 1.5em 0;
	}
	
	.teacher-page article section > h2 {
	    font-size: 1em;
	}
	
} /* End Query */


@media only screen and ( min-width: 1024px ) {
	
	/**	Home Page
	============================ */
	#school_details {
		background: transparent;
	}
	
	ul.teacher-list li.teacher-details,
	ul.teacher-list li.teacher-details:nth-of-type( 2n + 1 ),
	ul.teacher-list li.teacher-details:nth-of-type( 3n ),
	ul.teacher-list li.teacher-details:nth-of-type( 3n + 1 ) {
		width: 23.5%;
		margin: 0 1% 1.5em;
	}
	ul.teacher-list li.teacher-details:nth-of-type( 4n ) {
		margin: 0 0 1.5em 1%;
	}
	ul.teacher-list li.teacher-details:nth-of-type( 4n + 1 ) {
		margin: 0 1% 1.5em 0;
	}
		
	} /* End Query */
	
@media only screen and ( min-width: 1280px ) {
		
	#main_nav ul.menu {
		background: transparent;
	}
	#header,
	#main_nav ul.menu li ul.children,
	#main_nav ul.menu li ul.children li:hover ul.children li a,
	#main_nav ul.menu li ul.sub-menu,
	#main_nav ul.menu li ul.sub-menu li:hover ul.sub-menu li a {
		background: rgba(0,50,90, 0.9);
	}
	#main_nav ul.menu li ul.children li:hover > a,
	#main_nav ul.menu li ul.children li:hover ul.children li a:hover {
		background: #DC661E;
		color: rgb(15, 13, 13);;
	}
	
	ul.teacher-list li.teacher-details,
	ul.teacher-list li.teacher-details:nth-of-type( 2n + 1 ),
	ul.teacher-list li.teacher-details:nth-of-type( 3n ),
	ul.teacher-list li.teacher-details:nth-of-type( 3n + 1 ),
	ul.teacher-list li.teacher-details:nth-of-type( 4n ),
	ul.teacher-list li.teacher-details:nth-of-type( 4n + 1 ) {
		width: 18%;
		margin: 0 1.25% 1.5em;
	}
	ul.teacher-list li.teacher-details:nth-of-type( 5n ) {
		margin: 0 0 1.5em 1.25%;
	}
	ul.teacher-list li.teacher-details:nth-of-type( 5n + 1 ) {
		margin: 0 1.25% 1.5em 0;
	}
	
} /* End Query */

@media only screen and ( min-width: 1440px ) {
	
	/**	Footer
	============================ */	
		#footer_nav {
			text-align: right;
		}
		#footer_nav li {
			margin: 0 0 0 1.5em;
			text-align: left;
		}
		#footer .footer-section:first-of-type {
			float: left;
			width: 47%;
		}
		#footer .footer-section:last-of-type {
			float: left;
			width: 53%;
		}
	
		nav a:visited, a:link {
			color: rgb(20, 162, 233);
		}
	}